{% extends "templates/login_base.jinja2" %}

{% block content %}
	<h1>重置密码</h1>
	<form id="new_user_sessions" class="new_user_sessions center" action="{{ request.url }}" method="POST">
		<p class="none">
			<input type="text" name="user_session[login]" value="{{ email }}"/>
		</p>
		<p>
			<label for="user_session_password">新密码</a>
			<input id="user_session_password" name="user_session[password]" type="password" class="input_text"/>
		</p>
		<p>
			<label for="user_session_password">再次输入密码</a>
			<input id="user_session_password" name="user_session[password]" type="password" class="input_text"/>
		</p>
		<p>
			<input class="button" name="commit" type="submit" value="提交密码"/>
		</p>
	</form>

{% endblock %}
